<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div class="navbar-area" th:fragment="header" id="header">
    <div class="mobile-responsive-nav">
        <div class="container-fluid">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo-2.png" class="logo-one" alt="Logo">
                        <img src="assets/images/logo.png" class="logo-two" alt="Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="desktop-nav desktop-nav-one nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>

                <div class="nav-widget-form">
                    <form class="search-form">
                        <input type="search" class="form-control" placeholder="Search items, Creators ">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link active">
                                        Home One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/index-2.html"
                                       class="nav-link">
                                        Home Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/index-3.html"
                                       class="nav-link">
                                        Home Three
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                Discover
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/auction.html"
                                       class="nav-link">
                                        Live Auction
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                                       class="nav-link">
                                        Discover Style One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-2.html"
                                       class="nav-link">
                                        Discover Style Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/item-details.html"
                                       class="nav-link">
                                        Item Details
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/activity.html"
                               class="nav-link">
                                Activity
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Pages
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/collection.html"
                                       class="nav-link">
                                        Collection
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/create-collection.html"
                                       class="nav-link">
                                        Create Collection
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/authors.html"
                                       class="nav-link">
                                        Authors
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/author-profile.html"
                                       class="nav-link">
                                        Author Profile
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/team.html"
                                       class="nav-link">
                                        Team
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/testimonials.html"
                                       class="nav-link">
                                        Testimonials
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        User
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/login.html"
                                               class="nav-link">
                                                Log In
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/register.html"
                                               class="nav-link">
                                                Register
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/forgot-password.html"
                                               class="nav-link">
                                                Forgot Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/terms-condition.html"
                                       class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/privacy-policy.html"
                                       class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/404.html"
                                       class="nav-link">
                                        404 Page
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/coming-soon.html"
                                       class="nav-link">
                                        Coming Soon
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Community
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/about.html"
                                       class="nav-link">
                                        About Us
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/add-wallet.html"
                                       class="nav-link">
                                        Add Wallet
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-1.html"
                                               class="nav-link">
                                                Blog Grid
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-2.html"
                                               class="nav-link">
                                                Blog Left Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-3.html"
                                               class="nav-link">
                                                Blog Right Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-details.html"
                                               class="nav-link">
                                                Blog Details
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/categories.html"
                                               class="nav-link">
                                                Categories
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/tags.html"
                                               class="nav-link">
                                                Tags
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/help-center.html"
                                       class="nav-link">
                                        Help Center
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/contact.html"
                               class="nav-link">
                                Contact Us
                            </a>
                        </li>
                    </ul>

                    <div class="others-options" th:insert="~{this :: action}"></div>
                </div>
            </nav>
        </div>
    </div>

    <div class="mobile-nav">
        <div class="search-btn">
            <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                <i class="ri-search-line"></i>
            </a>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu dot-menu-mt">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container container-mt">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-nav-item" th:insert="~{this :: action}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form sec:authorize="isAuthenticated()" name="logoutForm" th:action="@{/logout}" method="post" hidden>
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>

<ul class="optional-item-list" th:fragment="action">
    <li sec:authorize="isAuthenticated()">
        <a href="javascript: document.logoutForm.submit()">Logout</a>
    </li>
    <li sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
    </li>
</ul>
</body>
</html>