<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="assets/fonts/remixicon.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="assets/css/theme-dark.css">

    <!-- Title -->
    <title>Tezor - NFT Marketplace HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
</head>
<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="mobile-responsive-nav">
        <div class="container-fluid">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo-2.png" class="logo-one" alt="Logo">
                        <img src="assets/images/logo.png" class="logo-two" alt="Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="desktop-nav nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo-2.png" class="logo-one" alt="Logo">
                    <img src="assets/images/logo.png" class="logo-two" alt="Logo">
                </a>

                <div class="nav-widget-form nav-widget-form-bg">
                    <form class="search-form">
                        <input type="search" class="form-control" placeholder="Search items, Creators ">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                </div>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Home
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">
                                        Home One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/index-2.html"
                                       class="nav-link">
                                        Home Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/index-3.html"
                                       class="nav-link">
                                        Home Three
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                Discover
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/auction.html"
                                       class="nav-link">
                                        Live Auction
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                                       class="nav-link">
                                        Discover Style One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-2.html"
                                       class="nav-link">
                                        Discover Style Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/item-details.html"
                                       class="nav-link">
                                        Item Details
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/activity.html"
                               class="nav-link">
                                Activity
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Pages
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/collection.html"
                                       class="nav-link">
                                        Collection
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/create-collection.html"
                                       class="nav-link">
                                        Create Collection
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/authors.html"
                                       class="nav-link">
                                        Authors
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="author-profile.html" class="nav-link">
                                        Author Profile
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/team.html"
                                       class="nav-link">
                                        Team
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/testimonials.html"
                                       class="nav-link">
                                        Testimonials
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        User
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="login.html" class="nav-link active">
                                                Log In
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">
                                                Register
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/forgot-password.html"
                                               class="nav-link">
                                                Forgot Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/terms-condition.html"
                                       class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/privacy-policy.html"
                                       class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">
                                        404 Page
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/coming-soon.html"
                                       class="nav-link">
                                        Coming Soon
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Community
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/about.html"
                                       class="nav-link">
                                        About Us
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/add-wallet.html"
                                       class="nav-link">
                                        Add Wallet
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-1.html"
                                               class="nav-link">
                                                Blog Grid
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-2.html"
                                               class="nav-link">
                                                Blog Left Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-3.html"
                                               class="nav-link">
                                                Blog Right Sidebar
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-details.html"
                                               class="nav-link">
                                                Blog Details
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/categories.html"
                                               class="nav-link">
                                                Categories
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/tags.html"
                                               class="nav-link">
                                                Tags
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/help-center.html"
                                       class="nav-link">
                                        Help Center
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/contact.html"
                               class="nav-link">
                                Contact Us
                            </a>
                        </li>
                    </ul>

                    <div class="others-options">
                        <ul class="optional-item-list">
                            <li>
                                <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/create-collection.html">Create</a>
                            </li>
                            <li>
                                <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/add-wallet.html"
                                   class="active">Connect Wallet</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="mobile-nav">
        <div class="search-btn">
            <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                <i class="ri-search-line"></i>
            </a>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-nav-item">
                            <ul class="optional-item-list">
                                <li>
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/create-collection.html">Create</a>
                                </li>
                                <li>
                                    <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/add-wallet.html"
                                       class="active">Connect Wallet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Modal Start -->
<div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-search-form">
                    <input type="search" class="search-field" placeholder="Search...">
                    <button type="submit"><i class="ri-search-line"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<!-- Inner Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title">
            <h3>Log In</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Pages</li>
                <li>Log In</li>
            </ul>

            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="Images">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="Images">
            </div>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- User Area -->
<div class="user-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="user-all-form">
                    <div class="contact-form">
                        <h3> Log In Now</h3>
                        <form th:action="@{/login}" method="post">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" class="form-control" required
                                               data-error="Please enter your Username">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" name="password" id="password">
                                    </div>
                                </div>

                                <div class="col-lg-12 form-condition">
                                    <div class="agree-label">
                                        <input type="checkbox" id="chb1">
                                        <label for="chb1">
                                            Remember Me <a class="forget"
                                                           href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/forgot-password.html">Forgot
                                            My Password?</a>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 text-center">
                                    <button type="submit" class="default-btn">
                                        Log In Now
                                    </button>
                                </div>

                                <div class="col-12">
                                    <div class="sub-title">
                                        <span>Or</span>
                                    </div>
                                </div>

                                <div class="login-with-account">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="ri-facebook-line"></i>
                                                Login with Facebook
                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://www.google.com/" target="_blank">
                                                <i class="ri-google-line"></i>
                                                Login with Google
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Area End -->

<!-- Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-8">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="assets/images/footer-logo.png" class="footer-logo1" alt="Footer Logo">
                            <img src="assets/images/logo.png" class="footer-logo2" alt="Footer Logo">
                        </a>
                    </div>
                    <p>Subscribe to our newsletter</p>
                    <div class="newsletter-area">
                        <form class="newsletter-form" data-toggle="validator" method="POST">
                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL"
                                   required autocomplete="off">
                            <button class="subscribe-btn" type="submit">
                                Subscribe Now
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Marketplace</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                               target="_blank">
                                Art
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                               target="_blank">
                                All NFTs
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                               target="_blank">
                                Music
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                               target="_blank">
                                Trending Cards
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>My Account</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/authors.html"
                               target="_blank">
                                Authors
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/collection.html"
                               target="_blank">
                                Collection
                            </a>
                        </li>
                        <li>
                            <a href="author-profile.html" target="_blank">
                                Author Profile
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/create-collection.html"
                               target="_blank">
                                Create Collection
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Resources</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/help-center.html"
                               target="_blank">
                                Helps & Support
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/auction.html"
                               target="_blank">
                                Live Auctions
                            </a>
                        </li>

                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/item-details.html"
                               target="_blank">
                                Item Details
                            </a>
                        </li>

                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/activity.html"
                               target="_blank">
                                Activity
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Company</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/about.html"
                               target="_blank">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/contact.html"
                               target="_blank">
                                Contact Us
                            </a>
                        </li>

                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/blog-1.html"
                               target="_blank">
                                Our Blog
                            </a>
                        </li>
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/discover-1.html"
                               target="_blank">
                                Discover
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-shape">
        <div class="footer-shape1">
            <img src="assets/images/shape/shape-bg.png" alt="Images">
        </div>

        <div class="footer-shape2">
            <img src="assets/images/shape/shape1.png" alt="Images">
        </div>

        <div class="footer-shape3">
            <img src="assets/images/shape/shape2.png" alt="Images">
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copyright Area -->
<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="copy-right-text">
                    <p>
                        ©
                        <script>document.write(new Date().getFullYear())</script>
                        Tezor. All Rights Reserved by
                        <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a>
                    </p>

                    <ul class="copy-right-list">
                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/terms-condition.html"
                               target="_blank">
                                Terms & Conditions
                            </a>
                        </li>

                        <li>
                            <a href="../../../../../../themeforest-PGfZtMqt-tezor-nft-marketplace-html-template/tezor-nft-marketplace-html-template/tezor/privacy-policy.html"
                               target="_blank">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="copy-right-social">
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Area End -->


<!-- Jquery Min JS -->
<script src="assets/js/jquery.min.js"></script>
<!-- Bootstrap Bundle Min JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- Magnific Popup JS -->
<script src="assets/js/magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="assets/js/meanmenu.min.js"></script>
<!-- Owl Carousel JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/countdown.min.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="assets/js/ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact Form JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Custom Form JS -->
<script src="assets/js/custom.js"></script>
</body>
</html>